<!DOCTYPE html>
<html>
	<head>
		<script src="js/jquery-3.4.1.min.js"></script>
		<link rel="stylesheet" href="css/bootstrap.min.css">
		<script src="js/bootstrap.min.js"></script>
		<script src="js/angular.min.js"></script>
		<link href="css/style.css" rel="stylesheet" type="text/css">
		<script src="js/BoardController.js"></script>
	</head>
	<body ng-app="2048" ng-controller="BoardController" ng-init="init()" ng-keyup="handleKey($event)">
		<div class="container-fluid">
			<div class="row">
				<div class="col-sm-6">
					<span class="large-text">
						2048
					</span>
				</div>
				<div class="col-sm-6" style="padding-right: 0px;">
					<div class="score-box float-right">
						<div class="title">
						Score
						</div>
						<span ng-bind="score"></span>
					</div>
					<div class="float-right" style="margin-top: 10px; margin-right: 10px;">
						<button type="btn" class="btn btn-info" ng-click="init()">Restart</button>
					</div>
				</div>
			</div>
		</div>
		<div class="modal fade" id="endGameModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
		  <div class="modal-dialog" role="document">
			<div class="modal-content">
			  <div class="modal-body">
				<span style="font-size: 36px;">{{result}}</span> <br />
				Score: {{score}}
			  </div>
			  <div class="modal-footer">
				<button type="button" class="btn btn-secondary" data-dismiss="modal" ng-click="init()">New Game</button>
			  </div>
			</div>
		  </div>
		</div>
		<div class="container-fluid board">
			<div class="row" ng-repeat="boardRow in board">
				<div class="col-sm space" ng-repeat="boardSpace in boardRow" background-Img="img/space{{boardSpace.value}}.jpg">
				</div>
			</div>
		</div>
		
	</body>
</html>